.container {
    display: flex;
    max-width: 1210px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;
}


.text {
    font-family: "Montserrat", sans-serif; 
    max-width: 460px;  
    h1{
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 24px;
    }
    p{
        line-height: 160%;
        margin-bottom: 24px;
        max-width: 450px;
        font-size: 2rem;
    }
    span{
        cursor: pointer;
        color: var(--primary);
        font-weight: 500;
        text-decoration: underline;
        font-size: 2rem;
    }
}