.container {
    display: flex;
    max-width: 1210px;
    margin: 0 auto;
    flex-direction: column;
    padding: 40px 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    
}

.contact, .about, .services {
    display: flex;
    flex-direction: column;
    align-items: left;

    h3 {
        margin-bottom: 24px;
        font-size: 28px;
        font-weight: 500;
        
    }
    span {
        cursor: pointer;
        line-height: 32px; 
        color: #616161;
    }
}