.container {
    display: flex;
    max-width: 1210px;
    margin: 0 auto;
    flex-direction: column;
    padding: 40px 20px;
}

.footer {
    display: flex;
    justify-content: space-around;  
}

.contact, .about, .services {
    display: flex;
    flex-direction: column;
    align-items: left;

    h3 {
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 2.6rem;
    }
    span {
        cursor: pointer;
        margin-bottom: 12px; 
        color: var(--dark-20);
        font-size: 1.6rem;
    }
}