.container {
    display: flex;
    max-width: 1210px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px 20px;
    align-items: center;
}

.text {
    h1{
        font-family: "Montserrat", sans-serif; 
        font-size: 4rem;
        font-weight: 600;
    }
    p {
        margin-top: 24px;
        font-size: 2rem;
        line-height: 160%;
        max-width: 440px;
    }

    button{
        margin-top: 36px;
        font-family: Inter;
        font-weight: 500;
        font-size: 2rem;
        display: flex;
        padding: 1.3rem 4rem;
        width: 292px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: none;
        background-color: var(--primary);
        color: var(--white);
    }
}

.image{
    img{
        max-width: 40rem;
        height: auto;
        display: block;
        margin: 0 auto;        
    }
}

@media (max-width: 1080px) {

}

@media (max-width: 720px) {

}